.container {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
  position: relative;
}

.full-effect {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.img {
  object-fit: cover;
  backface-visibility: hidden;
  transition: filter 0.25s, opacity 1s, transform 0.25s;
  z-index: -3000;
}

.img.focus {
  filter: blur(4px);
  transform: scale(1.05);
}

.mask {
  background-image: radial-gradient(#0000, #00000080),
    radial-gradient(#0000 33%, #0000004d 166%);
  opacity: 0.1;
  z-index: -2000;
}

.bookmark-hall {
  width: 100%;
  height: calc(80vh - 200px);
  overflow-y: auto;
  z-index: 100;
  display: flex;
  justify-content: center;

  scrollbar-width: none;
}
