.input-wrapper {
  width: 25vw;
  transition: width 0.25s;
}
.input-wrapper.focus {
  width: 26vw;
}

.input {
  border: none !important;
  text-align: center !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  background-color: transparent !important;
  backdrop-filter: blur(10px);
  transition: background-color 0.25s;
  color: var(--theme-text-color) !important;
}
.light {
  --theme-text-color: #272727 !important;
  --theme-input-hover-bg-color: rgba(255, 255, 255, 0.4);
  --theme-input-focus-bg-color: rgba(255, 255, 255, 0.8);
  --theme-placeholder-color: #ffffff80 !important;
  --theme-placeholder-focus-color: #999 !important;
}
.dark {
  --theme-text-color: #eee !important;
  --theme-input-hover-bg-color: rgba(0, 0, 0, 0.4);
  --theme-input-focus-bg-color: rgba(0, 0, 0, 0.6);
  --theme-placeholder-color: #aaa !important;
  --theme-placeholder-focus-color: #999 !important;
}

.input::placeholder {
  color: var(--theme-placeholder-color) !important;
}

.input:focus::placeholder {
  color: var(--theme-placeholder-focus-color) !important;
}

.input:hover {
  background-color: var(--theme-input-hover-bg-color) !important;
}
.input.focus {
  background-color: var(--theme-input-focus-bg-color) !important;
}

.dropdown {
  border: none !important;
  padding: 4px !important;
  backdrop-filter: blur(20px);
  transition: all 0.25s;

  &.dark {
    --mantine-color-primary-light-color: #444;
    background-color: rgba(0, 0, 0, 0.2) !important;
  }

  &.light {
    background-color: transparent !important;

    --mantine-color-primary-light-color: #eee;
    box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2) !important;
  }
}
